<ion-header>
        <ion-toolbar color="lol-white">
            <ion-title>GreenU</ion-title>
        </ion-toolbar>
    </ion-header>

<ion-content>
    <ion-searchbar></ion-searchbar>
    <ion-fab bottom right>
        <button ion-fab (click)="addTask()">
            <ion-icon name="add"></ion-icon>
        </button>
    </ion-fab>
    <ion-card>
        <ion-card-header>Hi {{name}}</ion-card-header>
        <ion-card-content>
            You have {{points}} points.<br>
            {{university}} has {{universityPoints}} points.
        </ion-card-content>
        <ion-card-header>Today you have:</ion-card-header>
        <ion-list>
            <ion-item *ngFor="let task of completedTasks">
                {{task}}
            </ion-item>
        </ion-list>
    </ion-card>
    <ion-card>
        <ion-card-header>
            Suggestions:
        </ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-item *ngFor="let task of uncompletedTasks">
                    {{task}}
                    <ion-note item-end>
                        20
                    </ion-note>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>
</ion-content>