page-base {

}
.dashboardContent {
    background-color: #008242;
}
.dashboardContent * {
    color: whitesmoke;
}
.dashboardCard {
    background-color: #005CB9;
}
.tasks {
    background-color: #005CB9;
}