page-leaderboard {

}
.pull-right {
    float: right;
}
.leaderboardContent {
    background-color: #008242;
}
.leaderboardContent * {
    color: whitesmoke;
}
.schools {
    background-color: #005CB9;
}